# LLM & Agente
langchain
langchain-mistralai
langchain-community
langchain-huggingface
sentence-transformers

# RAG/ busca vetorial
faiss-cpu
pypdf

# manipulação dos csvs
pandas

# config
python-dotenv

# interface
streamlit